.notion-breadcrumb {
  display: flex;
  align-items: center;

  .notion-internal-link {
    color: inherit;
    fill: inherit;
    text-decoration: none;
  }
}

.notion-breadcrumb-title {
  display: flex;
  align-items: center;
  transition: background-color 20ms ease-in 0s;
  padding: 0.1rem 0.25rem;
  border-radius: 0.25rem;

  &:hover {
    background-color: var(--color-link-hover);
  }
}
