.notion-callout {
  display: flex;
  margin-top: 2px;
  margin-bottom: 4px;
  overflow: hidden;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: none;

  .notion-light &.notion-color-default_background {
    border: 1px solid rgb(55 53 47 / 16%);
  }

  .notion-dark &.notion-color-default_background {
    border: 1px solid rgb(255 255 255 / 13%);
  }
}

.notion-callout-icon img {
  block-size: auto;
  max-inline-size: 100%;
  aspect-ratio: 1;
  border-radius: 0.25em;
}

.notion-callout-content {
  display: flex;
  flex-direction: column;
  margin-inline-start: 8px;
  overflow: hidden;
  width: 100%;
}
