/* code block */
.notion-code {
  padding-block-start: 0.5rem;
}

.notion-code-header {
  display: flex;
  padding-inline: 0.75rem;
}

.notion-code-langage {
  color: #999;
  font-size: 0.75rem;
  text-transform: capitalize;
}

.notion-code-body {
  margin-block-start: 0.75rem;
  margin-inline: 1.5rem;
}

.notion-light {
  .notion-code {
    background-color: rgb(247, 246, 243);
  }
}

.notion-dark {
  .notion-code {
    background-color: rgba(255, 255, 255, 0.03);
  }
}
