/* stylelint-disable selector-class-pattern */
.notion-table-of-contents {
  color: rgb(120 119 116);
  fill: rgb(120 119 116);

  .notion-dark & {
    color: rgb(155 155 155);
    fill: rgb(155 155 155);
  }

  a {
    color: inherit;
  }
}

.notion-table-of-contents > * + * {
  padding-top: 0.2rem;
}

.notion-table-of-contents-item {
  padding-inline-start: 2px;
  transition: background-color 20ms ease-in 0s;

  &:hover {
    background-color: rgb(55 53 47 / 8%);

    .notion-dark & {
      background-color: rgb(255 255 255 / 5.5%);
    }
  }

  & > .notion-table-of-contents-item-heading_1 {
    padding-inline-start: calc(1rem * 0);
  }

  & > .notion-table-of-contents-item-heading_2 {
    padding-inline-start: calc(1rem * 1);
  }

  & > .notion-table-of-contents-item-heading_3 {
    padding-inline-start: calc(1rem * 2);
  }
}
