.notion-page-cover {
  block-size: 30vh;
  inline-size: 100%;
  object-position: center 0%;
  object-fit: cover;

  &:has(+ .notion-page-contents > .notion-page-icon) {
    margin-block-end: -5rem;
  }
}

.notion-page-contents {
  margin-inline: var(--margin);
}

.notion-page-icon {
  display: block;
  font-size: 5rem;
}
