/* common */
.notion_block {
  padding: 3px 2px;
}
.notion_link {
  color: inherit;
  opacity: 0.7;
  transition: border-color 0.1s ease-in, opacity 0.1s ease-in;
  text-decoration-line: underline;
}
/* icon */
.notion_icon {
  display: inline-flex;
  width: 1.5em;
  height: 1.5em;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.notion_icon img {
  block-size: auto;
  max-inline-size: 100%;
  aspect-ratio: 1;
  border-radius: 0.25em;
}
/* caption */
.notion_caption {
  max-inline-size: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: rgba(255, 255, 255, 0.81);
  font-size: 14px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.443);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 2px;
}
/* bookmark block */
.notion_bookmark_container {
  display: flex;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding-inline-start: 1rem;
  overflow: hidden;
}
.notion_bookmark_content {
  flex: 4 1 180px;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notion_bookmark_title {
  margin: 0 0 2px;
  line-height: 1.25rem;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-block-end: 0.75rem;
}
.notion_bookmark_description {
  font-size: 0.75rem;
  line-height: 1rem;
  opacity: 0.7;
  height: 2rem;
  overflow: hidden;
}
.notion_bookmark_url {
  display: flex;
  align-items: center;
  margin-block-start: auto;
}
.notion_bookmark_favicon {
  display: inline-flex;
  width: 0.75em;
  height: 0.75em;
  align-items: center;
  justify-content: center;
}
.notion_bookmark_favicon > img {
  max-inline-size: 100%;
}
.notion_bookmark_link_url {
  font-size: 0.75rem;
  margin-inline-start: 0.5rem;
}
.notion_bookmark_cover {
  max-block-size: 100%;
  max-inline-size: 100%;
  flex: 1 1 180px;
}
.notion_bookmark_cover > img {
  block-size: 100%;
  max-inline-size: 100%;
  object-fit: cover;
}
/* breadcrumb block */
.notion_breadcrumb {
  display: flex;
  align-items: center;
}
.notion_breadcrumb_title {
  display: flex;
  align-items: center;
}
.notion_breadcrumb_separator {
  margin-inline: 0.25rem;
}
/* child_database block */
.notion_child_database {
  display: flex;
  align-items: center;
}
.notion_child_database_title {
  margin-inline-start: 0.25rem;
}
/* child_page block */
.notion_child_page {
  display: flex;
  align-items: center;
}
.notion_child_page_title {
  margin-inline-start: 0.25rem;
}
/* code block */
.notion_code {
  display: flex;
  flex-direction: column;
}
.notion_code_header {
  background-color: rgba(255, 255, 255, 0.03);
  display: flex;
}
.notion_code .notion_code_langage {
  padding: 0.5rem 0 0 0.5rem;
  color: #999;
  font-size: 0.75rem;
  text-transform: capitalize;
}
.notion_code_pre {
  margin: 0;
}
/* link_preview block */
.notion_link_preview_container {
  display: flex;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding-inline-start: 1rem;
  overflow: hidden;
}
.notion_link_preview_content {
  flex: 4 1 180px;
  padding-block: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notion_link_preview_title {
  margin: 0 0 2px;
  line-height: 1.25rem;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-block-end: 0.75rem;
}
.notion_link_preview_description {
  font-size: 0.75rem;
  line-height: 1rem;
  opacity: 0.7;
  height: 2rem;
  overflow: hidden;
}
.notion_link_preview_url {
  display: flex;
  align-items: center;
  margin-block-start: auto;
}
.notion_link_preview_favicon {
  display: inline-flex;
  width: 0.75em;
  height: 0.75em;
  align-items: center;
  justify-content: center;
}
.notion_link_preview_favicon > img {
  max-inline-size: 100%;
}
.notion_link_preview_link_url {
  font-size: 0.75rem;
  margin-inline-start: 0.5rem;
}
.notion_link_preview_cover {
  max-block-size: 100%;
  max-inline-size: 100%;
  flex: 1 1 180px;
}
.notion_link_preview_cover > img {
  block-size: 100%;
  max-inline-size: 100%;
  object-fit: cover;
}
/* paragraph block */
.notion_paragraph_children {
  padding-inline-start: 1.5rem;
}
/* quote block */
.notion_quote {
  margin: 0 1rem 0 0;
  border-inline-start: 3px solid currentcolor;
  padding-inline-start: 0.5rem;
  padding-block: 3px;
}
/* to_do block */
.notion_to_do_content {
  display: flex;
  padding-block: 3px;
}
.notion_to_do_icon {
  display: inline-flex;
  width: 1.5em;
  height: 1.5em;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.notion_checkbox {
  display: inline-flex;
  align-items: center;
}
.notion_checkbox > svg {
  width: 1rem;
  height: 1rem;
  fill: inherit;
}
.notion_checkbox.checked {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  background: #364954;
}
.notion_checkbox.checked > svg {
  width: 0.75em;
  height: 0.75em;
  fill: #fff;
}
.notion_to_do_text {
  display: inline-flex;
  align-items: center;
}
.notion_to_do_text.checked {
  opacity: 0.5;
  text-decoration: line-through;
}
.notion_to_do_children {
  padding-inline-start: 1.5rem;
}
/* toogle block */
.notion_toggle_summary {
  cursor: pointer;
}
.notion_toggle_summary > h1,
h2,
h3 {
  display: inline-block;
  vertical-align: middle;
}
.notion_toggle_details {
  padding-inline-start: 1.5rem;
}
/* callout block */
.notion_callout {
  display: flex;
  margin-top: 2px;
  margin-bottom: 4px;
  overflow: hidden;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: none;
}
.notion_callout_icon img {
  block-size: auto;
  max-inline-size: 100%;
  aspect-ratio: 1;
  border-radius: 0.25em;
}
.notion_callout_content {
  display: flex;
  flex-direction: column;
  margin-inline-start: 8px;
  overflow: hidden;
  width: 100%;
}
/* image block */
.notion_image img {
  display: block;
  max-inline-size: 100%;
  object-fit: contain;
  border-radius: 1px;
}
/* table block */
.notion_table {
  border-collapse: collapse;
  border-spacing: 0;
}
.notion_table th {
  border: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0.3rem;
  font-weight: 500;
  text-align: left;
  /* dark mode */
  border-color: rgb(47, 47, 47);
  background-color: rgba(255, 255, 255, 0.03);
}
.notion_table td {
  border: 1px solid #e5e5e5;
  margin: 0;
  padding: 0.3rem;
  /* dark mode */
  border-color: rgb(47, 47, 47);
}
.notion_table th,
td > * {
  padding: 0.2rem 0.8rem;
}
/* column_list block */
.notion_column_list {
  display: flex;
  column-gap: 1rem;
}
.notion_column_list > .notion_column {
  flex-grow: 1;
}
/* table_of_contents block */
.notion_table_of_contents > * + * {
  padding-top: 0.2rem;
}
.notion_table_of_contents_item {
  padding-inline-start: 2px;
  transition: background-color 20ms ease-in 0s;
}
.notion_table_of_contents_item a {
  border-block-end: 1px solid #ffffff20;
}
.notion_table_of_contents_item:hover {
  background-color: #ffffff10;
}
.notion_table_of_contents_item > .notion_table_of_contents_item_heading_1 {
  padding-inline-start: calc(1rem * 0);
}
.notion_table_of_contents_item > .notion_table_of_contents_item_heading_2 {
  padding-inline-start: calc(1rem * 1);
}
.notion_table_of_contents_item > .notion_table_of_contents_item_heading_3 {
  padding-inline-start: calc(1rem * 2);
}
/* video block */
.notion_video > video {
  block-size: auto;
  max-inline-size: 100%;
}
/* pdf block */
.notion_pdf > object {
  block-size: auto;
  max-inline-size: 100%;
}
/* user mention type rich text */
.notion_rich_text_type_mention_type_user_avatar {
  block-size: 1rem;
  inline-size: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-inline-end: 0.2rem;
  vertical-align: text-top;
}
