/* common */
.notion-block {
  padding: 3px 2px;
}
.notion-link {
  color: inherit;
  opacity: 0.7;
  transition: border-color 0.1s ease-in, opacity 0.1s ease-in;
  text-decoration-line: underline;
}

/* pdf block */
.notion-pdf > object {
  block-size: auto;
  max-inline-size: 100%;
}
