.notion-color-default {
  color: unset;
}

.notion-color-gray {
  color: var(--color-gray);
}

.notion-color-brown {
  color: var(--color-brown);
}

.notion-color-orange {
  color: var(--color-orange);
}

.notion-color-yellow {
  color: var(--color-yellow);
}

.notion-color-green {
  color: var(--color-green);
}

.notion-color-blue {
  color: var(--color-blue);
}

.notion-color-purple {
  color: var(--color-purple);
}

.notion-color-pink {
  color: var(--color-pink);
}

.notion-color-red {
  color: var(--color-red);
}

.notion-color-default-background {
  background-color: unset;
}

.notion-color-gray-background {
  background-color: var(--color-gray-background);
}

.notion-color-brown-background {
  background-color: var(--color-brown-background);
}

.notion-color-orange-background {
  background-color: var(--color-orange-background);
}

.notion-color-yellow-background {
  background-color: var(--color-yellow-background);
}

.notion-color-green-background {
  background-color: var(--color-green-background);
}

.notion-color-blue-background {
  background-color: var(--color-blue-background);
}

.notion-color-purple-background {
  background-color: var(--color-purple-background);
}

.notion-color-pink-background {
  background-color: var(--color-pink-background);
}

.notion-color-red-background {
  background-color: var(--color-red-background);
}
