.notion-color-default {
  color: unset;
}

.notion-color-gray {
  color: var(--color-text-gray);
}

.notion-color-brown {
  color: var(--color-text-brown);
}

.notion-color-orange {
  color: var(--color-text-orange);
}

.notion-color-yellow {
  color: var(--color-text-yellow);
}

.notion-color-green {
  color: var(--color-text-green);
}

.notion-color-blue {
  color: var(--color-text-blue);
}

.notion-color-purple {
  color: var(--color-text-purple);
}

.notion-color-pink {
  color: var(--color-text-pink);
}

.notion-color-red {
  color: var(--color-text-red);
}

.notion-color-default_background {
  background-color: unset;
}

.notion-color-gray_background {
  background-color: var(--color-bg-gray);
}

.notion-color-brown_background {
  background-color: var(--color-bg-brown);
}

.notion-color-orange_background {
  background-color: var(--color-bg-orange);
}

.notion-color-yellow_background {
  background-color: var(--color-bg-yellow);
}

.notion-color-green_background {
  background-color: var(--color-bg-green);
}

.notion-color-blue_background {
  background-color: var(--color-bg-blue);
}

.notion-color-purple_background {
  background-color: var(--color-bg-purple);
}

.notion-color-pink_background {
  background-color: var(--color-bg-pink);
}

.notion-color-red_background {
  background-color: var(--color-bg-red);
}
