@import url("./variables.css");
@import url("./theme.css");
@import url("./common/caption.css");
@import url("./common/colors.css");
@import url("./common/cover.css");
@import url("./common/file.css");
@import url("./common/icon.css");
@import url("./common/link.css");
@import url("./common/title.css");
@import url("./blocks.css");
@import url("./blocks/audio.css");
@import url("./blocks/bookmark.css");
@import url("./blocks/breadcrumb.css");
@import url("./blocks/bulleted-list.css");
@import url("./blocks/callout.css");
@import url("./blocks/child-database.css");
@import url("./blocks/child-page.css");
@import url("./blocks/code.css");
@import url("./blocks/column-list.css");
@import url("./blocks/divider.css");
@import url("./blocks/embed.css");
@import url("./blocks/file.css");
@import url("./blocks/image.css");
@import url("./blocks/link-preview.css");
@import url("./blocks/link-to-page.css");
@import url("./blocks/numbered-list.css");
@import url("./blocks/paragraph.css");
@import url("./blocks/pdf.css");
@import url("./blocks/quote.css");
@import url("./blocks/to-do.css");
@import url("./blocks/table.css");
@import url("./blocks/table-of-contents.css");
@import url("./blocks/toggle.css");
@import url("./blocks/video.css");
@import url("./rich-text/mention.css");
@import url("./rich-text/text.css");
@import url("./database/database.css");
@import url("./database/gallery.css");
@import url("./database/list.css");
@import url("./database/table.css");
@import url("./pages/page.css");
@import url("./property/email.css");
@import url("./property/files.css");
@import url("./property/phone-number.css");
@import url("./property/property.css");
@import url("./property/multi-select.css");
@import url("./property/relation.css");
@import url("./property/select.css");
@import url("./property/status.css");
@import url("./property/url.css");

html {
  /* default theme is light */
  --color-text-default: var(--notion-light-color-text-default);
  --color-bg-default: var(--notion-light-color-bg-default);
  --color-pill-default: var(--notion-light-color-pill-default);
  --color-text-gray: var(--notion-light-color-text-gray);
  --color-bg-gray: var(--notion-light-color-bg-gray);
  --color-pill-gray: var(--notion-light-color-pill-gray);
  --color-text-brown: var(--notion-light-color-text-brown);
  --color-bg-brown: var(--notion-light-color-bg-brown);
  --color-pill-brown: var(--notion-light-color-pill-brown);
  --color-text-orange: var(--notion-light-color-text-orange);
  --color-bg-orange: var(--notion-light-color-bg-orange);
  --color-pill-orange: var(--notion-light-color-pill-orange);
  --color-text-yellow: var(--notion-light-color-text-yellow);
  --color-bg-yellow: var(--notion-light-color-bg-yellow);
  --color-pill-yellow: var(--notion-light-color-pill-yellow);
  --color-text-green: var(--notion-light-color-text-green);
  --color-bg-green: var(--notion-light-color-bg-green);
  --color-pill-green: var(--notion-light-color-pill-green);
  --color-text-blue: var(--notion-light-color-text-blue);
  --color-bg-blue: var(--notion-light-color-bg-blue);
  --color-pill-blue: var(--notion-light-color-pill-blue);
  --color-text-purple: var(--notion-light-color-text-purple);
  --color-bg-purple: var(--notion-light-color-bg-purple);
  --color-pill-purple: var(--notion-light-color-pill-purple);
  --color-text-pink: var(--notion-light-color-text-pink);
  --color-bg-pink: var(--notion-light-color-bg-pink);
  --color-pill-pink: var(--notion-light-color-pill-pink);
  --color-text-red: var(--notion-light-color-text-red);
  --color-bg-red: var(--notion-light-color-bg-red);
  --color-pill-red: var(--notion-light-color-pill-red);
}
