/* text */
.notion-rich-text-type-text {
  white-space: pre;
}

/* user mention */
.notion-rich-text-type-mention-type-user-avatar {
  block-size: 1rem;
  inline-size: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-inline-end: 0.2rem;
  vertical-align: text-top;
}
