@media (prefers-color-scheme: light) {
  :root {
    --color-text-default: var(--notion-light-color-text-default);
    --color-bg-default: var(--notion-light-color-bg-default);
    --color-pill-default: var(--notion-light-color-pill-default);
    --color-text-gray: var(--notion-light-color-text-gray);
    --color-bg-gray: var(--notion-light-color-bg-gray);
    --color-pill-gray: var(--notion-light-color-pill-gray);
    --color-text-brown: var(--notion-light-color-text-brown);
    --color-bg-brown: var(--notion-light-color-bg-brown);
    --color-pill-brown: var(--notion-light-color-pill-brown);
    --color-text-orange: var(--notion-light-color-text-orange);
    --color-bg-orange: var(--notion-light-color-bg-orange);
    --color-pill-orange: var(--notion-light-color-pill-orange);
    --color-text-yellow: var(--notion-light-color-text-yellow);
    --color-bg-yellow: var(--notion-light-color-bg-yellow);
    --color-pill-yellow: var(--notion-light-color-pill-yellow);
    --color-text-green: var(--notion-light-color-text-green);
    --color-bg-green: var(--notion-light-color-bg-green);
    --color-pill-green: var(--notion-light-color-pill-green);
    --color-text-blue: var(--notion-light-color-text-blue);
    --color-bg-blue: var(--notion-light-color-bg-blue);
    --color-pill-blue: var(--notion-light-color-pill-blue);
    --color-text-purple: var(--notion-light-color-text-purple);
    --color-bg-purple: var(--notion-light-color-bg-purple);
    --color-pill-purple: var(--notion-light-color-pill-purple);
    --color-text-pink: var(--notion-light-color-text-pink);
    --color-bg-pink: var(--notion-light-color-bg-pink);
    --color-pill-pink: var(--notion-light-color-pill-pink);
    --color-text-red: var(--notion-light-color-text-red);
    --color-bg-red: var(--notion-light-color-bg-red);
    --color-pill-red: var(--notion-light-color-pill-red);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-default: var(--notion-dark-color-text-default);
    --color-bg-default: var(--notion-dark-color-bg-default);
    --color-pill-default: var(--notion-dark-color-pill-default);
    --color-text-gray: var(--notion-dark-color-text-gray);
    --color-bg-gray: var(--notion-dark-color-bg-gray);
    --color-pill-gray: var(--notion-dark-color-pill-gray);
    --color-text-brown: var(--notion-dark-color-text-brown);
    --color-bg-brown: var(--notion-dark-color-bg-brown);
    --color-pill-brown: var(--notion-dark-color-pill-brown);
    --color-text-orange: var(--notion-dark-color-text-orange);
    --color-bg-orange: var(--notion-dark-color-bg-orange);
    --color-pill-orange: var(--notion-dark-color-pill-orange);
    --color-text-yellow: var(--notion-dark-color-text-yellow);
    --color-bg-yellow: var(--notion-dark-color-bg-yellow);
    --color-pill-yellow: var(--notion-dark-color-pill-yellow);
    --color-text-green: var(--notion-dark-color-text-green);
    --color-bg-green: var(--notion-dark-color-bg-green);
    --color-pill-green: var(--notion-dark-color-pill-green);
    --color-text-blue: var(--notion-dark-color-text-blue);
    --color-bg-blue: var(--notion-dark-color-bg-blue);
    --color-pill-blue: var(--notion-dark-color-pill-blue);
    --color-text-purple: var(--notion-dark-color-text-purple);
    --color-bg-purple: var(--notion-dark-color-bg-purple);
    --color-pill-purple: var(--notion-dark-color-pill-purple);
    --color-text-pink: var(--notion-dark-color-text-pink);
    --color-bg-pink: var(--notion-dark-color-bg-pink);
    --color-pill-pink: var(--notion-dark-color-pill-pink);
    --color-text-red: var(--notion-dark-color-text-red);
    --color-bg-red: var(--notion-dark-color-bg-red);
    --color-pill-red: var(--notion-dark-color-pill-red);
  }
}

.notion-light {
  --color-text-default: var(--notion-light-color-text-default);
  --color-bg-default: var(--notion-light-color-bg-default);
  --color-pill-default: var(--notion-light-color-pill-default);
  --color-text-gray: var(--notion-light-color-text-gray);
  --color-bg-gray: var(--notion-light-color-bg-gray);
  --color-pill-gray: var(--notion-light-color-pill-gray);
  --color-text-brown: var(--notion-light-color-text-brown);
  --color-bg-brown: var(--notion-light-color-bg-brown);
  --color-pill-brown: var(--notion-light-color-pill-brown);
  --color-text-orange: var(--notion-light-color-text-orange);
  --color-bg-orange: var(--notion-light-color-bg-orange);
  --color-pill-orange: var(--notion-light-color-pill-orange);
  --color-text-yellow: var(--notion-light-color-text-yellow);
  --color-bg-yellow: var(--notion-light-color-bg-yellow);
  --color-pill-yellow: var(--notion-light-color-pill-yellow);
  --color-text-green: var(--notion-light-color-text-green);
  --color-bg-green: var(--notion-light-color-bg-green);
  --color-pill-green: var(--notion-light-color-pill-green);
  --color-text-blue: var(--notion-light-color-text-blue);
  --color-bg-blue: var(--notion-light-color-bg-blue);
  --color-pill-blue: var(--notion-light-color-pill-blue);
  --color-text-purple: var(--notion-light-color-text-purple);
  --color-bg-purple: var(--notion-light-color-bg-purple);
  --color-pill-purple: var(--notion-light-color-pill-purple);
  --color-text-pink: var(--notion-light-color-text-pink);
  --color-bg-pink: var(--notion-light-color-bg-pink);
  --color-pill-pink: var(--notion-light-color-pill-pink);
  --color-text-red: var(--notion-light-color-text-red);
  --color-bg-red: var(--notion-light-color-bg-red);
  --color-pill-red: var(--notion-light-color-pill-red);
}

.notion-dark {
  --color-text-default: var(--notion-dark-color-text-default);
  --color-bg-default: var(--notion-dark-color-bg-default);
  --color-pill-default: var(--notion-dark-color-pill-default);
  --color-text-gray: var(--notion-dark-color-text-gray);
  --color-bg-gray: var(--notion-dark-color-bg-gray);
  --color-pill-gray: var(--notion-dark-color-pill-gray);
  --color-text-brown: var(--notion-dark-color-text-brown);
  --color-bg-brown: var(--notion-dark-color-bg-brown);
  --color-pill-brown: var(--notion-dark-color-pill-brown);
  --color-text-orange: var(--notion-dark-color-text-orange);
  --color-bg-orange: var(--notion-dark-color-bg-orange);
  --color-pill-orange: var(--notion-dark-color-pill-orange);
  --color-text-yellow: var(--notion-dark-color-text-yellow);
  --color-bg-yellow: var(--notion-dark-color-bg-yellow);
  --color-pill-yellow: var(--notion-dark-color-pill-yellow);
  --color-text-green: var(--notion-dark-color-text-green);
  --color-bg-green: var(--notion-dark-color-bg-green);
  --color-pill-green: var(--notion-dark-color-pill-green);
  --color-text-blue: var(--notion-dark-color-text-blue);
  --color-bg-blue: var(--notion-dark-color-bg-blue);
  --color-pill-blue: var(--notion-dark-color-pill-blue);
  --color-text-purple: var(--notion-dark-color-text-purple);
  --color-bg-purple: var(--notion-dark-color-bg-purple);
  --color-pill-purple: var(--notion-dark-color-pill-purple);
  --color-text-pink: var(--notion-dark-color-text-pink);
  --color-bg-pink: var(--notion-dark-color-bg-pink);
  --color-pill-pink: var(--notion-dark-color-pill-pink);
  --color-text-red: var(--notion-dark-color-text-red);
  --color-bg-red: var(--notion-dark-color-bg-red);
  --color-pill-red: var(--notion-dark-color-pill-red);
}
