:root {
  /* common */
  --notion-fill: currentcolor;
  --notion-line-height: 1.5;
  --notion-overflow-wrap: break-word;
  --notion-margin: clamp(1rem, 0.273rem + 3.64vw, 3rem);

  /* light */
  --notion-light-color-text-default: rgb(55 53 47);
  --notion-light-color-bg-default: rgb(255 255 255);
  --notion-light-color-pill-default: rgb(227 226 224 / 50%);
  --notion-light-color-text-gray: rgb(120 119 116);
  --notion-light-color-bg-gray: rgb(241 241 239);
  --notion-light-color-pill-gray: rgb(227 226 224);
  --notion-light-color-text-brown: rgb(159 107 83);
  --notion-light-color-bg-brown: rgb(244 238 238);
  --notion-light-color-pill-brown: rgb(238 224 218);
  --notion-light-color-text-orange: rgb(217 115 13);
  --notion-light-color-bg-orange: rgb(251 236 221);
  --notion-light-color-pill-orange: rgb(250 222 201);
  --notion-light-color-text-yellow: rgb(203 145 47);
  --notion-light-color-bg-yellow: rgb(251 243 219);
  --notion-light-color-pill-yellow: rgb(253 236 200);
  --notion-light-color-text-green: rgb(68 131 97);
  --notion-light-color-bg-green: rgb(237 243 236);
  --notion-light-color-pill-green: rgb(219 237 219);
  --notion-light-color-text-blue: rgb(51 126 169);
  --notion-light-color-bg-blue: rgb(231 243 248);
  --notion-light-color-pill-blue: rgb(211 229 239);
  --notion-light-color-text-purple: rgb(144 101 176);
  --notion-light-color-bg-purple: #eae4f2;
  --notion-light-color-pill-purple: rgb(244 240 247 / 80%);
  --notion-light-color-text-pink: rgb(193 76 138);
  --notion-light-color-bg-pink: rgb(249 238 243 / 80%);
  --notion-light-color-pill-pink: rgb(245 224 233);
  --notion-light-color-text-red: rgb(212 76 71);
  --notion-light-color-bg-red: rgb(253 235 236);
  --notion-light-color-pill-red: rgb(255 226 221);
  --notion-light-color-bg-callout: rgb(241 241 239);
  --notion-light-color-border: rgb(55 53 47 / 16%);
  --notion-light-color-code: rgb(247 246 243);
  --notion-light-color-bg-inline-code: rgb(135 131 120 / 15%);
  --notion-light-color-link-hover: rgb(55 53 47 / 8%);
  --notion-light-color-table-of-contents: rgb(120 119 116);
  --notion-light-color-th-background: rgb(247 246 243);
  --notion-light-color-table-border: rgb(233 233 231);
  --notion-light-color-caption: rgb(55 53 47 / 65%);
  --notion-light-color-property-icon: rgba(55 53 47 / 45%);
  --notion-light-color-bg-gallery-card: transparent;

  /* dark */
  --notion-dark-color-text-default: rgb(255 255 255 / 81%);
  --notion-dark-color-bg-default: rgb(25 25 25);
  --notion-dark-color-pill-default: rgb(55 55 55);
  --notion-dark-color-text-gray: rgb(155 155 155);
  --notion-dark-color-bg-gray: rgb(47 47 47);
  --notion-dark-color-pill-gray: rgb(90 90 90);
  --notion-dark-color-text-brown: rgb(186 133 111);
  --notion-dark-color-bg-brown: rgb(74 50 40);
  --notion-dark-color-pill-brown: rgb(96 59 44);
  --notion-dark-color-text-orange: rgb(199 125 72);
  --notion-dark-color-bg-orange: rgb(92 59 35);
  --notion-dark-color-pill-orange: rgb(133 76 29);
  --notion-dark-color-text-yellow: rgb(202 152 73);
  --notion-dark-color-bg-yellow: rgb(86 67 40);
  --notion-dark-color-pill-yellow: rgb(137 99 42);
  --notion-dark-color-text-green: rgb(82 158 114);
  --notion-dark-color-bg-green: rgb(36 61 48);
  --notion-dark-color-pill-green: rgb(43 89 63);
  --notion-dark-color-text-blue: rgb(94 135 201);
  --notion-dark-color-bg-blue: rgb(20 58 78);
  --notion-dark-color-pill-blue: rgb(40 69 108);
  --notion-dark-color-text-purple: rgb(157 104 211);
  --notion-dark-color-bg-purple: rgb(60 45 73);
  --notion-dark-color-pill-purple: rgb(73 47 100);
  --notion-dark-color-text-pink: rgb(209 87 150);
  --notion-dark-color-bg-pink: rgb(78 44 60);
  --notion-dark-color-pill-pink: rgb(105 49 76);
  --notion-dark-color-text-red: rgb(223 84 82);
  --notion-dark-color-bg-red: rgb(82 46 42);
  --notion-dark-color-pill-red: rgb(110 54 48);
  --notion-dark-color-bg-callout: rgb(37 37 37);
  --notion-dark-color-code: rgb(255 255 255 / 3%);
  --notion-dark-color-border: rgb(255 255 255 / 13%);
  --notion-dark-color-bg-inline-code: rgb(135 131 120 / 15%);
  --notion-dark-color-link-hover: rgb(255 255 255 / 5.5%);
  --notion-dark-color-table-of-contents: rgb(155 155 155);
  --notion-dark-color-th-background: rgb(255 255 255 / 3%);
  --notion-dark-color-table-border: rgb(47 47 47);
  --notion-dark-color-caption: rgb(255 255 255 / 44.3%);
  --notion-dark-color-property-icon: rgb(255 255 255 / 44.3%);
  --notion-dark-color-bg-gallery-card: rgb(255 255 255 / 5.5%);
}
