.notion-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr));
  padding: 16px 4px 4px;
  gap: 1rem;

  .notion-gallery-card {
    grid-template-rows: subgrid;
    grid-row: span 3;
  }
}
