.notion-caption {
  max-inline-size: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 14px;
  line-height: 1.4;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 2px;

  .notion-light & {
    caret-color: rgb(55 53 47);
    color: rgb(55 53 47 / 65%);
  }

  .notion-dark & {
    caret-color: rgb(255 255 255 / 81%);
    color: rgb(255 255 255 / 44.3%);
  }
}
