.notion-child-database {
  .notion-internal-link {
    color: inherit;
    fill: inherit;
  }

  transition: background-color 20ms ease-in 0s;
  border-radius: 0.25rem;

  &:hover {
    background-color: var(--color-link-hover);
  }
}

.notion-child-database-title {
  opacity: 0.7;
}
