/* stylelint-disable selector-class-pattern */
.notion-table-of-contents {
  color: var(--color-table-of-contents);
  fill: var(--color-table-of-contents);

  a {
    color: inherit;
    fill: inherit;
    opacity: 0.7;
  }
}

.notion-table-of-contents > * + * {
  padding-top: 0.2rem;
}

.notion-table-of-contents-item {
  padding-inline-start: 2px;
  transition: background-color 20ms ease-in 0s;

  &:hover {
    background-color: var(--color-link-hover);
  }

  & > .notion-table-of-contents-item-heading_1 {
    padding-inline-start: calc(1rem * 0);
  }

  & > .notion-table-of-contents-item-heading_2 {
    padding-inline-start: calc(1rem * 1);
  }

  & > .notion-table-of-contents-item-heading_3 {
    padding-inline-start: calc(1rem * 2);
  }
}
