.notion-property {
  display: flex;
  padding-block: 0.25rem;
}

.notion-property-name {
  flex: 0 0 10em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notion-property-item {
  flex: 1 1 auto;
}

.notion-pill {
  padding-inline: 0.25rem;
  border-radius: 3px;
}
