.notion-caption {
  max-inline-size: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 14px;
  line-height: 1.4;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 2px;
  color: var(--color-caption);
}
