.notion-database-mention-rich-text,
.notion-page-mention-rich-text {
  color: inherit;
  fill: inherit;
  transition: background-color 20ms ease-in 0s;
  border-radius: 0.25rem;

  .notion-icon {
    block-size: 1rem;
    inline-size: 1rem;
    margin-inline-end: 0.25rem;
  }

  .notion-page-mention-title {
    opacity: 0.7;
  }

  &:hover {
    background-color: var(--color-link-hover);
  }
}

.notion-link-preview-mention-rich-text {
  color: inherit;
  fill: inherit;
  opacity: 0.7;
  transition: background-color 20ms ease-in 0s;
  border-radius: 0.25rem;

  &:hover {
    background-color: var(--color-link-hover);
  }
}

.notion-user-mention-rich-text-avatar {
  block-size: 1rem;
  inline-size: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  margin-inline-end: 0.2rem;
  vertical-align: text-top;
}
